@using MZXRM.PSS.Data
@using MZXRM.PSS.Business
@using MZXRM.PSS.Common

@{List<Customer> FilteredCustomers = ViewBag.Customers;}
<section class="content-header">
    <h1>
        Customers
        <small>Manage your customers here</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/home"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Customer</li>
    </ol>
</section>

<!-- Main content -->
<section class="content container-fluid">

    <!-- /.box -->
    <div class="box box-primary box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Customers</h3>

        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <table id="example1" class="table table-condensed table-hover" style="table-layout: fixed; overflow-y: scroll;">
                <thead>
                    <tr>
                        <th class="col-sm-2">Name</th>
                        <th class="col-sm-1">Short Name</th>
                        <th class="col-sm-1">Address</th>
                        <th class="col-sm-2">Invoice Address</th>
                        <th class="col-sm-1">Email</th>
                        <th class="col-sm-1">Phone</th>
                        <th class="col-sm-1">Contact Person</th>
                        <th class="col-sm-1">Stock</th>
                        <th class="col-sm-1">Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Customer cust in FilteredCustomers)
                    {
                        <tr>
                            <td><a href="/customer">@cust.Name</a></td>
                            <td>@cust.ShortName</td>
                            <td>@cust.Address</td>
                            <td>@cust.InvoiceAddress</td>
                            <td>@cust.Email</td>
                            <td>@cust.Phone</td>
                            <td>@cust.ContactPerson</td>
                            <td><span class="badge bg-green">100,000.000</span></td>
                            <td>
                                <span class="badge bg-green">@cust.Status</span>
                        </td>
                    </tr>
                    }

                </tbody>
            </table>

            <!-- /.box-body -->
        </div>

    </div>
    <div class="col-sm-12">
        <a href="" class="btn btn-default pull-right">Download Report</a>
    </div>
</section>
