@using MZXRM.PSS.Data
@using MZXRM.PSS.Business
@using MZXRM.PSS.Common

<section class="content-header">
    <h1>
        Purchase
        <small>Create Purchase Order</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/home"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/Purchase"><i class="fa fa-ship"></i> Purchase</a></li>
        <li class="active">Create PO</li>
    </ol>
</section>

<!-- Main content -->
<section class="content container-fluid">
    <form method="post" action="/Purchase/CreateOrder" name="CreateOrder">
        @if (ExceptionHandler.HasException())
        {
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                @ExceptionHandler.GetExceptionMessage()
            </div>
            { ExceptionHandler.CloseException(); }
        }
        <div class="box box-default box-solid">
            <!-- /.box-header -->
            <div class="box-body">
                <div class="col-lg-6">
                    <button type="submit" class="btn btn-sm btn-primary" name="btn" value="Save"><i class="fa fa-floppy-o"></i> Save</button>
                    <button type="reset" class="btn btn-sm btn-default" name="btn" value="Reset"><i class="fa fa-refresh"></i> Reset</button>
                    <a class="btn btn-sm btn-default" href="/Purchase/CreateGRN"><i class="fa fa-plus"></i> New GRN</a>
                    <a class="btn btn-sm btn-default" href="/Purchase/CreateDCL"><i class="fa fa-plus"></i> New DCL</a>
                    <a class="btn btn-sm btn-default" href="/Purchase/CreateLRN" disabled><i class="fa fa-plus"></i> New LRN</a>
                </div>
                <div class="col-lg-6">
                    <a href="/Purchase" class="btn btn-sm btn-default"><i class="fa fa-list"></i> My POs List</a>
                    <a href="/Purchase/GRNList" class="btn btn-sm btn-default"><i class="fa fa-list"></i> My GRNs List</a>
                    <a href="/Purchase/DCLList" class="btn btn-sm btn-default"><i class="fa fa-list"></i> My DCLs List</a>
                    <a href="/Purchase/GRNList?type=loan" class="btn btn-sm btn-default" disabled><i class="fa fa-list"></i> My LRNs List</a>

                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <div class="box box-warning box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">New Purchase Order</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>Origin</label>
                            <label class="required">*</label>
                            <select class="form-control" name="Origin" required>
                                <option value="0">--- Origin ---</option>
                                @foreach (Item item in Common.Origin)
                                {
                                    <option value="@item.Index" @(item.Index.ToString() == Request.Form["Origin"] ? " selected " : "")>@item.Value</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>Size</label>
                            <label class="required">*</label>
                            <select class="form-control" name="Size">
                                <option value="0">--- Size ---</option>
                                @foreach (Item item in Common.Size)
                                {
                                    <option value="@item.Index" @(item.Index.ToString() == Request.Form["Size"] ? " selected " : "")>@item.Value</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>Vessel</label>
                            <label class="required">*</label>
                            <select class="form-control select2" name="Vessel">
                                <option value="0">--- Vessel ---</option>
                                @foreach (Item item in Common.Vessel)
                                {
                                    <option value="@item.Index" @(item.Index.ToString() == Request.Form["Vessel"] ? " selected " : "")>@item.Value</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>PO Date:</label>
                            <label class="required">*</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right" data-selector="date" id="PODate" name="PODate" value="@DateTime.Now.ToShortDateString()">
                            </div>
                            <!-- /.input group -->
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>Target Days</label>
                            <label class="required">*</label>
                            <input type="text" class="form-control" id="TargetDays" name="TargetDays" value='@(Request.Form["TargetDays"]!=null?@Request.Form["TargetDays"].ToString():"")'>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>Supplier</label>
                            <label class="required">*</label>
                            <select class="form-control select2" name="Supplier">
                                <option value="0">--- Supplier ---</option>
                                @foreach (Item item in Common.Supplier)
                                {
                                    <option value="@item.Index" @(item.Index.ToString() == Request.Form["Supplier"] ? " selected " : "")>@item.Value</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>Lead</label>
                            <label class="required">*</label>
                            <select class="form-control select2" name="Lead">
                                <option value="0">--- Lead ---</option>
                                @foreach (User item in UserManager.Users)
                                {
                                    <option value="@item.Id" @(item.Id == Common.CurrentUser.Id ? " selected " : "")>@item.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>Terms of Payment</label>
                            <input type="text" class="form-control" name="PaymentTerms" value='@(Request.Form["PaymentTerms"]!=null?Request.Form["PaymentTerms"].ToString():"")' />
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>Min Quantity Buffer (%)</label>
                            <label class="required">*</label>
                            <input type="text" class="form-control" name="BufferMin" value='@(Request.Form["BufferMin"]!=null?Request.Form["BufferMin"].ToString():"10")' />
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>Max Quantity Buffer (%)</label>
                            <label class="required">*</label>
                            <input type="text" class="form-control" name="BufferMax" value='@(Request.Form["BufferMax"]!=null?@Request.Form["BufferMax"].ToString():"10")' />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-condensed">
                            <tbody>
                                <tr>
                                    <th>Customer</th>
                                    <th>Quantity</th>
                                    <th>Rate</th>
                                    <th>Allowed Wastage</th>
                                    <th>Cost Per Ton</th>
                                    <th>Target Date</th>
                                    <th></th>
                                </tr>
                                @for (int i = 1; i <= 10; i++)
                                {
                                    <tr id="row_@i.ToString()" style="display:none;">
                                        <td>
                                            <select class="form-control select2" style="width:250px;" name='Customer_@i.ToString()' id='Customer_@i.ToString()' onchange="showRow(@i.ToString())">
                                                <option value="0">--- Customer ---</option>
                                                @foreach (Customer item in CustomerManager.AllCustomers)
                                                {
                                                    <option value="@item.Id" @((Request.Form["Customer_" + i.ToString()] != null && item.Id.ToString() == Request.Form["Customer_" + i.ToString()]) ? " selected " : "")>@item.Name</option>
                                                }
                                            </select>
                                        </td>
                                        <td><input type="text" class="form-control" name="Quantity_@i.ToString()" value='@(Request.Form["Quantity_"+i.ToString()]!=null?@Request.Form["Quantity_"+i.ToString()].ToString():"")' /></td>
                                        <td><input type="text" class="form-control" name="Rate_@i.ToString()" value='@(Request.Form["Rate_"+i.ToString()]!=null?@Request.Form["Rate_"+i.ToString()].ToString():"")' /></td>
                                        <td><input type="text" class="form-control" name="AllowedWastage_@i.ToString()" value='@(Request.Form["AllowedWastage_"+i.ToString()]!=null?@Request.Form["AllowedWastage_"+i.ToString()].ToString():"")' /></td>
                                        <td><input type="text" class="form-control" name="CostPerTon_@i.ToString()" value='@(Request.Form["CostPerTon_"+i.ToString()]!=null?@Request.Form["CostPerTon_"+i.ToString()].ToString():"")' /></td>
                                        <td>
                                            <div class="input-group date">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <input type="text" class="form-control pull-right" data-selector="date" id="TargetDate_@i.ToString()" name="TargetDate_@i.ToString()" />
                                            </div>
                                        </td>
                                        <th><a href="#" class="btn btn-danger" onclick="hideRow(@i.ToString())">X</a></th>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">

            </div>
        </div>
    </form>
</section>
@section scripts
{
    <script>

        $('input[data-selector=date]').datepicker({
            autoclose: true
        });
        showRow(1);
        function showRow(i) {
            if (i == 10)
                alert('Max 10 rows');
            if (i == 1)
            { $('#row_' + i).show(); }
            //debugger;
            var v = 0;
            v = parseInt(i);
            v++;
            var option = $('#Customer_' + i + ' option:selected').val();
            if (option == 0)
                $('#row_' + v).hide();
            else {
                $('#row_' + v).show();
                var poDate = $('#PODate').val();
                var days = $('#TargetDays').val();
                var targetDate = new Date(poDate);
                targetDate.setDate(targetDate.getDate() + parseInt(days));
                //alert(targetDate);
                $('#TargetDate_' + i).val((targetDate.getMonth() + 1) + "/" + targetDate.getDate() + "/" + targetDate.getFullYear());
            }
        }
        function hideRow(i) {
            $('#Customer_' + i).val("0");
            $('#row_' + i).hide();
        }
    </script>
}

