@using MZXRM.PSS.Data
@using MZXRM.PSS.Business
<section class="content-header">
    <h1>
        Purchase
        <small>Manage your GRNs here</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/home"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/purchase"><i class="fa fa-dashboard"></i> purchase</a></li>
        <li class="active">GRNs</li>
    </ol>
</section>
@{List<GRN> FilteredGRNs = ViewBag.GRNs;}
<section class="content container-fluid">
    <div class="box box-default box-solid collapsed-box">
        <div class="box-header with-border">
            <h3 class="box-title">Purchase Menu</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
            <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="col-lg-6">
                <div class="col-sm-3">
                    <a href="/Purchase" class="btn btn-block btn-primary margin">My POs List</a>
                </div>
                <div class="col-sm-3">
                    <a href="/Purchase/GRNList" class="btn btn-block btn-primary margin">My GRNs List</a>
                </div>
                
                <div class="col-sm-3">
                    <a href="/Purchase/DCLList" class="btn btn-block btn-primary margin">My DCLs List</a>
                </div>
                <div class="col-sm-3">
                    <a href="/Purchase/GRNList?type=loan" class="btn btn-block btn-primary margin">My LRNs List</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="col-sm-3">
                    <a href="/Purchase" class="btn btn-block btn-info margin">Purchase Orders</a>
                </div>

            </div>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
    <div class="box box-primary box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">GRNs</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <form method="post" action="/purchase/GRNList">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <select class="form-control" name="GRN">
                                <option value="my" @(ViewBag.SelectedGRN == "my" ? " selected " : "")> My GRNs (@Common.CurrentUser.Name)</option>
                                <option value="all" @(ViewBag.SelectedGRN == "all" ? " selected " : "")>All GRNs</option>
                                <option value="all" @(ViewBag.SelectedGRN == "loan" ? " selected " : "")>Loans</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <select class="form-control" name="PO">
                                <option value="0">--- PO ---</option>
                                @foreach (PurchaseOrder item in PurchaseUtil.AllPOs)
                                {
                                    <option value="@item.PONumber" @(item.PONumber == ViewBag.SelectedPO ? " selected " : " ")>@item.PONumber</option>
                                }
                            </select>

                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <select class="form-control" name="Store">
                                <option value="0">--- Store ---</option>
                                @foreach (Reference item in Common.Store)
                                {
                                    <option value="@item.Id" @(item.Id.ToString() == ViewBag.SelectedStore ? " selected " : " ")>@item.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <button type="submit" class="btn btn-info pull-right">Apply Filter</button>
                    </div>
                </form>
            </div>
            <table class="table table-condensed">
                <tbody>
                    <tr>
                        <th>PO</th>
                        <th>#</th>
                        <th>Date</th>
                        <th>Store</th>
                        <th>Recieved Quantity</th>
                        <th>Invoice No.</th>
                        <th>Adj. Price</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                    @foreach (GRN grn in FilteredGRNs)
                    {
                        <tr>
                            <td><a href="/purchase/orderdetail/@grn.PO.Name" class="btn btn-block btn-primary btn-sm">@grn.PO.Name</a></td>
                            <th> @grn.GRNNumber</th>
                            <td>@grn.GRNDate.ToShortDateString()</td>
                            <td><a href="/Stock/Store/@grn.Store.Id">@grn.Store.Name</a></td>
                            <td>
                                @if (grn.Quantity > 0)
                                {<span class="badge bg-green"> @grn.Quantity.ToString("#,##,###.000")</span>}
                            </td>
                            <td>@grn.InvoiceNo</td>
                            <td>@grn.AdjPrice.ToString("#,##,###.000")</td>
                            <td>
                                @switch (grn.Status)
                                {
                                    case GRNStatus.PendingRecieve:
                                        <span class="badge bg-yellow">New GRN</span>
                                        break;
                                    case GRNStatus.Recieved:
                                        <span class="badge bg-green">Complete</span>
                                        break;
                                    case GRNStatus.Cancelled:
                                        <span class="badge bg-red">Cancelled</span>
                                        break;
                                }
                            </td>
                            <td>
                                <a href="/purchase/updategrn/@grn.GRNNumber" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <!-- /.box-body -->
        </div>

    </div>
    <div class="col-sm-12">
        <a href="" class="btn btn-default pull-right">Download Report</a>
    </div>
</section>