@using MZXRM.PSS.Data
@using MZXRM.PSS.Business
@using MZXRM.PSS.Common
@{PurchaseOrder ThisPO = ViewBag.ThisPO;}
<section class="content-header">
    <h1>
        Purchase
        <small>Order Details</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/home"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/home"><i class="fa fa-ship"></i> Purchase</a></li>
        <li class="active">Update PO</li>
    </ol>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <form method="post" action="/Purchase/UpdateOrder">

        @if (ExceptionHandler.HasException())
        {
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                @ExceptionHandler.GetExceptionMessage()
            </div>
            { ExceptionHandler.CloseException(); }
        }
        <div class="box box-default box-solid">
            <!-- /.box-header -->
            <div class="box-body">
                <div class="col-lg-6">
                    <input type="hidden" name="ponumber" value="@ThisPO.PONumber" />
                    <input type="hidden" name="poid" value="@ThisPO.Id" />
                    <button type="submit" class="btn btn-app" name="btn" value="Save"><i class="fa fa-floppy-o"></i> Save</button>
                    <button type="reset" class="btn btn-app" name="btn" value="Reset"><i class="fa fa-refresh"></i> Reset</button>

                    @if (ThisPO.Status == POStatus.Created)
                    {<button type="submit" class="btn btn-app" name="btn" value="ApprovalSubmit"><i class="fa fa-arrow-right"></i>Submit for Approval</button>}
                    @if (ThisPO.Status == POStatus.PendingApproval)
                    {<button type="submit" class="btn btn-app" name="btn" value="Approve"><i class="fa fa-thumbs-up"></i> Approve</button>                    }

                    <a class="btn btn-app" href="/Purchase/UpdateOrder/@ThisPO.PONumber" disabled><i class="fa fa-remove"></i> Cancel</a>
                </div>
                <div class="col-lg-6">
                    <a href="/Purchase" class="btn btn-app"><i class="fa fa-list"></i> My POs List</a>
                    <a href="/Purchase/GRNList" class="btn btn-app"><i class="fa fa-list"></i> My GRNs List</a>
                    <a href="/Purchase/DCLList" class="btn btn-app"><i class="fa fa-list"></i> My DCLs List</a>
                    <a href="/Purchase/GRNList?type=loan" class="btn btn-app" disabled><i class="fa fa-list"></i> My LRNs List</a>
                    <a href="/Purchase/DownloadPOs" class="btn btn-app" disabled><i class="fa fa-file-excel-o"></i> Export Excel</a>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <div class="box box-warning box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Purchase Order: @ThisPO.PONumber</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>Origin</label>
                            <select class="form-control" name="Origin">
                                <option value="0">--- Origin ---</option>
                                @foreach (Item item in Common.Origin)
                                {
                                    <option value="@item.Index" @(item.Index == ThisPO.Origin.Index ? " selected " : " ")>@item.Value</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>Size</label>
                            <select class="form-control" name="Size">
                                <option value="0">--- Size ---</option>
                                @foreach (Item item in Common.Size)
                                {
                                    <option value="@item.Index" @(item.Index == ThisPO.Size.Index ? " selected " : " ")>@item.Value</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>Vessel</label>
                            <select class="form-control" name="Vessel">
                                <option value="0">--- Vessel ---</option>
                                @foreach (Item item in Common.Vessel)
                                {
                                    <option value="@item.Index" @(item.Index == ThisPO.Vessel.Index ? " selected " : " ")>@item.Value</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>PO Date:</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right" data-selector="date" name="PODate" value="@ThisPO.PODate.ToShortDateString()">
                            </div>
                            <!-- /.input group -->
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>Target Days</label>
                            <input type="text" class="form-control" name="TargetDays" value="@ThisPO.TargetDays">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>Supplier</label>
                            <select class="form-control" name="Supplier">
                                <option>--- Supplier ---</option>
                                @foreach (Item item in Common.Supplier)
                                {
                                    <option value="@item.Index" @(item.Index == ThisPO.Supplier.Index ? " selected " : " ")>@item.Value</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>Lead</label>
                            <select class="form-control" name="Lead">
                                <option>--- Lead ---</option>
                                @foreach (User item in UserUtil.Users)
                                {
                                    <option value="@item.Id" @(item.Id == ThisPO.Lead.Id ? " selected " : " ")>@item.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Terms of Payments</label>
                            <input type="text" class="form-control" name="PaymentTerms" value="@ThisPO.TermsOfPayment">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>Min Quantity Buffer (%)</label>
                            <input type="text" class="form-control" name="BufferMin" value="@ThisPO.BufferQuantityMin">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>Max Quantity Buffer (%)</label>
                            <input type="text" class="form-control" name="BufferMax" value="@ThisPO.BufferQuantityMax">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-condensed">
                            <tbody>
                                <tr>
                                    <th>Customer</th>
                                    <th>Quantity</th>
                                    <th>Rate</th>
                                    <th>Allowed Wastage</th>
                                    <th>Cost Per Ton</th>
                                    <th>Target Date</th>
                                    <th></th>
                                </tr>
                                @for (int i = 1; i <= ThisPO.PODetailsList.Count; i++)
                                {
                                    PODetail pod = ThisPO.PODetailsList[i - 1];
                                    <tr id="row_@i.ToString()">
                                        <td>
                                            <select class="form-control" name='Customer_@i.ToString()' id='Customer_@i.ToString()' onchange="showRow(@i.ToString())">
                                                <option value="0">--- Customer ---</option>
                                                @foreach (Customer item in CustomerUtil.Customers)
                                                {
                                                    <option value="@item.Id" @(item.Id == pod.Customer.Id ? " selected " : " ")>@item.Name</option>
                                                }
                                            </select>
                                        </td>
                                        <td><input type="text" class="form-control" name="Quantity_@i.ToString()" value="@pod.Quantity" /></td>
                                        <td><input type="text" class="form-control" name="Rate_@i.ToString()" value="@pod.Rate" /></td>
                                        <td><input type="text" class="form-control" name="AllowedWastage_@i.ToString()" value="@pod.AllowedWaistage" /></td>
                                        <td><input type="text" class="form-control" name="CostPerTon_@i.ToString()" value="@pod.CostPerTon" /></td>
                                        <td>
                                            <div class="input-group date">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <input type="text" class="form-control pull-right" data-selector="date" name="TargetDate_@i.ToString()" value="@pod.TargetDate.ToShortDateString()">
                                            </div>
                                        </td>
                                        <th>
                                            <input type="hidden" name="PODetailId_@i.ToString()" value="@pod.Id" />
                                            <a href="#" class="btn btn-danger" onclick="hideRow(@i.ToString())">X</a>
                                        </th>
                                    </tr>
                                }
                                @for (int i = ThisPO.PODetailsList.Count + 1; i <= 10; i++)
                                {
                                    <tr id="row_@i.ToString()" style="display:none">
                                        <td>
                                            <select class="form-control" name='Customer_@i.ToString()' id='Customer_@i.ToString()' onchange="showRow(@i.ToString())">
                                                <option value="0">--- Customer ---</option>
                                                @foreach (Customer item in CustomerUtil.Customers)
                                                {
                                                    <option value="@item.Id">@item.Name</option>
                                                }
                                            </select>
                                        </td>
                                        <td><input type="text" class="form-control" name="Quantity_@i.ToString()" /></td>
                                        <td><input type="text" class="form-control" name="Rate_@i.ToString()" /></td>
                                        <td><input type="text" class="form-control" name="AllowedWastage_@i.ToString()" /></td>
                                        <td><input type="text" class="form-control" name="CostPerTon_@i.ToString()" /></td>
                                        <td>
                                            <div class="input-group date">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <input type="text" class="form-control pull-right" data-selector="date" name="TargetDate_@i.ToString()">
                                            </div>
                                        </td>
                                        <th><a href="#" class="btn btn-danger" onclick="hideRow(@i.ToString())">X</a></th>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <div class="col-sm-3">


                </div>
                <div class="col-sm-3">

                </div>
                <div class="col-sm-1 pull-right">
                    <span class="badge bg-blue pull-right">@ThisPO.Status</span>
                </div>
            </div>


        </div>
    </form>
</section>
<p class="pull-right">Last Modified: @ThisPO.ModifiedBy.Name on @ThisPO.ModifiedOn.ToShortDateString()</p>

@section scripts
{
    <script>
        $('input[data-selector=date]').datepicker({
            autoclose: true
        });
        showRow(@(ThisPO.PODetailsList.Count));
        function showRow(i) {
            debugger;
            if (i == 10)
                alert('Max 10 rows');
            if (i == 1)
                $('#row_' + i).show();
            //debugger;
            var v = 0;
            v = parseInt(i);
            v++;
            var option = $('#Customer_' + i + ' option:selected').val();
            if (option == 0)
                $('#row_' + v).hide();
            else
                $('#row_' + v).show();
        }
        function hideRow(i) {
            $('#Customer_' + i).val("0");
            $('#row_' + i).hide();
        }
    </script>
}

