@using PatrocoalSalesSystem.Models
<section class="content-header">
    <h1>
        Purchases
        <small>Update GRN</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/home"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/purchase"><i class="fa fa-dashboard"></i> Purchase</a></li>
        <li class="active">Update GRN</li>
    </ol>
</section>
@{
    GRN ThisGRN = ViewBag.ThisGRN;
    PurchaseOrder ThisPO = ViewBag.ThisPO;
}
<!-- Main content -->
<section class="content container-fluid">
    <div class="box box-default box-solid collapsed-box">
        <div class="box-header with-border">
            <h3 class="box-title">Purchase Menu</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
            <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="col-lg-6">
                <div class="col-sm-3">
                    <a href="/Purchase" class="btn btn-block btn-primary margin">Purchase Orders</a>
                </div>
                <div class="col-sm-3">
                    <a href="/Purchase/GRNList" class="btn btn-block btn-primary margin">GRNs</a>
                </div>
                <div class="col-sm-3">
                    <a href="/Purchase/GRNList?type=loan" class="btn btn-block btn-primary margin">Loan</a>
                </div>
                <div class="col-sm-3">
                    <a href="/Purchase/DCLList" class="btn btn-block btn-primary margin">Duty Clear</a>
                </div>
                <div class="col-sm-3">
                    <a href="/Purchase/CreateOrder" class="btn btn-block btn-primary margin">Create PO</a>
                </div>
                <div class="col-sm-3">
                    <a href="/Purchase/CreateGRN" class="btn btn-block btn-primary margin">Create GRN</a>
                </div>
                <div class="col-sm-3">
                    <a href="/Purchase/CreateGRN?type=loan" class="btn btn-block btn-primary margin">Create LRN</a>
                </div>
                <div class="col-sm-3">
                    <a href="/Purchase/CreateDCL" class="btn btn-block btn-primary margin">Create DCL</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="col-sm-3">
                    <a href="/Purchase" class="btn btn-block btn-info margin">Purchase Orders</a>
                </div>

            </div>
        </div>
        <!-- /.box-body -->
    </div>
    <div class="box box-warning box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">GRN: @ThisGRN.GRNNumber</h3>
        </div>
        <form method="post" action="/Purchase/UpdateGRN">
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>PO</label>
                            <p>@ThisPO.PONumber</p>
                        </div>
                    </div>
                    @if (ThisPO != null)
                    {
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label>PO Date</label>
                                <p>@ThisPO.PODate.ToShortDateString()</p>
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <label>Origin:</label>
                            <p>@ThisPO.Origin.Value</p>
                        </div>
                        <div class="col-sm-1">
                            <label>Size:</label>
                            <p>@ThisPO.Size.Value</p>
                        </div>
                        <div class="col-sm-2">
                            <label>Vessel:</label>
                            <p>@ThisPO.Vessel.Value</p>
                        </div>


                    }
                </div>
                @if (ThisPO != null)
                {
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label>GRN Date:</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right" data-selector="date" name="GRNDate" value="@ThisGRN.GRNDate.ToShortDateString()">
                                </div>
                                <!-- /.input group -->
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label>Customer</label>
                                <select class="form-control" name="Customer">
                                    <option value="0">--- Customer ---</option>
                                    @foreach (PODetail pod in ThisPO.PODetailsList)
                                    {
                                        <option value="@pod.Id" @(pod.Id == ThisGRN.PODetail.Id ? "selected" : "")>@pod.Customer.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label>Store</label>
                                <select class="form-control" name="Store">
                                    <option value="0">--- Store ---</option>
                                    @foreach (Reference item in Common.Store)
                                    {
                                        <option value="@item.Id" @(item.Id == ThisGRN.Store.Id ? "selected" : "")>@item.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label>Recieved Quantity (Ton)</label>
                                <input type="text" class="form-control" name="Quantity" value="@ThisGRN.Quantity">
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <div class="form-group">
                                <label>Invoice No.</label>
                                <input type="text" class="form-control" name="Invoice" value="@ThisGRN.InvoiceNo">
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <div class="form-group">
                                <label>Adj. Price</label>
                                <input type="text" class="form-control" name="Price" value="@ThisGRN.AdjPrice">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label>Remarks</label>
                                <input type="text" class="form-control" name="Remarks" value="@ThisGRN.Remarks">
                            </div>
                        </div>
                    </div>
                }
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <div class="col-sm-3">
                    <input type="hidden" name="ponumber" value="@ThisPO.PONumber" />
                    <input type="hidden" name="grnnumber" value="@ThisGRN.GRNNumber" />
                    <input type="hidden" name="grnid" value="@ThisGRN.Id" />
                    <button type="submit" class="btn btn-success" name="btn" value="Save">Update</button>
                    <button type="reset" class="btn btn-danger" name="btn" value="Reset">Reset</button>
                    @*<input type="hidden" name="PO" value='@(ThisPO!=null?ThisPO.PONumber:"")' />*@
                </div>
                <div class="col-sm-3">
                    <button type="submit" class="btn btn-danger btn-xs" name="btn" value="Cancel"><i class="fa fa-ban"></i> Cancel GRN</button>
                </div>
            </div>
        </form>
    </div>

</section>
<p class="pull-right">Last Modified: @ThisPO.ModifiedBy.Name on @ThisPO.ModifiedOn.ToShortDateString()</p>

@section scripts
{
    <script>
        $('input[data-selector=date]').datepicker({
            autoclose: true
        });
    </script>
}

