@using MZXRM.PSS.Data
@using MZXRM.PSS.Business
@using MZXRM.PSS.Common
<section class="content-header">
    <h1>
        Sales
        <small>Manage your SOs here</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/home"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Sales</li>
    </ol>
</section>
@{List<SaleOrder> FilteredSOs = ViewBag.SOs;}
<!-- Main content -->
<section class="content container-fluid">
    @if (ExceptionHandler.HasException())
    {
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-ban"></i> Alert!</h4>
            @ExceptionHandler.GetExceptionMessage()
        </div>
        { ExceptionHandler.CloseException(); }
    }
    <div class="box box-default box-solid">
        <!-- /.box-header -->
        <div class="box-body">
            <div class="col-lg-6">
                <a class="btn btn-sm btn-default" href="/SaleOrder/CreateOrder"><i class="fa fa-plus"></i> New SO</a>
                <a class="btn btn-sm btn-default" href="/SaleOrder/CreateDO"><i class="fa fa-plus"></i> New DO</a>
                <a class="btn btn-sm btn-default" href="/SaleOrder/CreateDC"><i class="fa fa-plus"></i> New DC</a>
                <a class="btn btn-sm btn-default" href="/SaleOrder/CreateDCR"><i class="fa fa-plus"></i> New DC Return</a>
            </div>
            <div class="col-lg-6">
                <a href="/SaleOrder" class="btn btn-sm btn-default"><i class="fa fa-list"></i> My SOs List</a>
                <a href="/SaleOrder/DOList" class="btn btn-sm btn-default"><i class="fa fa-list"></i> My DOs List</a>
                <a href="/SaleOrder/DCList" class="btn btn-sm btn-default"><i class="fa fa-list"></i> My DCs List</a>
                <a href="/SaleOrder/DCRList" class="btn btn-sm btn-default"><i class="fa fa-list"></i> My DC Returns</a>

            </div>
        </div>
    </div>
    <!-- /.box -->
    <div class="box box-primary box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Sale Orders</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <form method="post" action="/SaleOrder">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <select class="form-control" name="PO">
                                <option value="my" @(ViewBag.SelectedSO == "my" ? " selected " : "")> My SOs (@Common.CurrentUser.Name)</option>
                                <option value="all" @(ViewBag.SelectedSO == "all" ? " selected " : "")>All SOs</option>
                                <option value="inprocess" @(ViewBag.SelectedSO == "inprocess" ? " selected " : "")>In Process</option>
                                <option value="complete" @(ViewBag.SelectedSO == "complete" ? " selected " : "")>Complete</option>
                                <option value="cancelled" @(ViewBag.SelectedSO == "cancelled" ? " selected " : "")>Cancelled</option>
                                <option value="new" @(ViewBag.SelectedSO == "new" ? " selected " : "")>Pending Approval</option>
                            </select>
                        </div>
                    </div>
                    @*<div class="col-sm-2">
                            <div class="form-group">
                                <select class="form-control" name="Origin">
                                    <option value="0">--- Origin ---</option>
                                    @foreach (Item item in Common.Origin)
                                    {
                                        <option value="@item.Index" @(item.Index.ToString() == ViewBag.SelectedOrigin ? " selected " : " ")>@item.Value</option>
                                    }
                                </select>

                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <select class="form-control" name="Size">
                                    <option value="0">--- Size ---</option>
                                    @foreach (Item item in Common.Size)
                                    {
                                        <option value="@item.Index" @(item.Index.ToString() == ViewBag.SelectedSize ? " selected " : " ")>@item.Value</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <select class="form-control" name="Vessel">
                                    <option value="0">--- Vessel ---</option>
                                    @foreach (Item item in Common.Vessel)
                                    {
                                        <option value="@item.Index" @(item.Index.ToString() == ViewBag.SelectedOrigin ? " selected " : " ")>@item.Value</option>
                                    }
                                </select>
                            </div>
                        </div>*@
                    <div class="col-sm-1">
                        <button type="submit" class="btn btn-info pull-right">Apply Filter</button>
                    </div>
                </form>
            </div>
            <table id="data" class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>SO Date</th>
                        <th>SO Expiry</th>
                        <th>Customer</th>
                        <th>Origin</th>
                        <th>Vessel</th>
                        <th>Size</th>
                        <th>Quantity</th>
                        <th>Order Type</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (SaleOrder so in FilteredSOs)
                    {
                        <tr>
                            <td>
                                @if (so.Status == SOStatus.Created || so.Status == SOStatus.PendingApproval)
                                {
                                    <a href="/SaleOrder/UpdateOrder/@so.SONumber" class="btn btn-block btn-primary btn-sm">@so.SONumber</a>
                                }
                                else
                                {
                                    <a href="/SaleOrder/OrderDetail/@so.SONumber" class="btn btn-block btn-primary btn-sm">@so.SONumber</a>
                                }
                            </td>
                            <td>@so.SODate.ToShortDateString()</td>
                            <td>@so.SOExpiry.ToShortDateString()</td>
                            <td><a href="/Customer/@so.Customer.Id">@so.Customer.Name</a></td>
                            <td>@so.Origin.Value</td>
                            <td>@so.Vessel.Value</td>
                            <td>@so.Size.Value</td>
                            <td align="right">@so.Quantity.ToString("#,##,###.000")</td>

                            <td></td>
                            <td>
                                @switch (so.Status)
                                {
                                    case SOStatus.Created:
                                        <span class="badge bg-yellow">New PO</span>
                                        break;
                                    case SOStatus.PendingApproval:
                                        <span class="badge bg-yellow">Waiting Approval</span>
                                        break;
                                    case SOStatus.InProcess:
                                        <span class="badge bg-blue">In Process</span>
                                        break;
                                    case SOStatus.Completed:
                                        <span class="badge bg-green">Complete</span>
                                        break;
                                    case SOStatus.Cancelled:
                                        <span class="badge bg-red">Cancelled</span>
                                        break;
                                }

                            </td>
                        </tr>
                    }

                </tbody>
            </table>

            <!-- /.box-body -->
        </div>

    </div>
    <div class="col-sm-12">
        <a href="" class="btn btn-default pull-right">Download Report</a>
    </div>
</section>
@section Scripts {
    <script>
        $('#data').DataTable();
    </script>
}