@using MZXRM.PSS.Data
@using MZXRM.PSS.Business
@using MZXRM.PSS.Common

@{
    SaleOrder ThisSO = ViewBag.ThisSO;
    DeliveryOrder ThisDO = ViewBag.ThisDO;
}


<section class="content-header">
    <h1>
        Sales
        <small>Update Delivery Order</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/home"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/home"><i class="fa fa-dashboard"></i> Sales</a></li>
        <li class="active">DO</li>
    </ol>
</section>

<!-- Main content -->
<form method="post" action="/saleorder/updatedo">
    <section class="content container-fluid">
        @if (ExceptionHandler.HasException())
        {
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                @ExceptionHandler.GetExceptionMessage()
            </div>
            { ExceptionHandler.CloseException(); }
        }
        <div class="box box-default box-solid">
            <!-- /.box-header -->
            <div class="box-body">
                <div class="col-lg-6">
                    <button type="submit" class="btn btn-sm btn-primary" name="btn" value="Update"><i class="fa fa-floppy-o"></i> Update</button>
                    <button type="reset" class="btn btn-sm btn-default" name="btn" value="Reset"><i class="fa fa-refresh"></i> Reset</button>
                   
                    <input type="hidden" name="SOID" value="@ThisSO.Id" />
                    <input type="hidden" name="SONubmer" value="@ThisSO.SONumber" />
                    <input type="hidden" name="DOID" value="@ThisDO.Id" />
                    <input type="hidden" name="CreatedOn" value="@ThisDO.CreatedOn" />
                    <input type="hidden" name="DONumber" value="@ThisDO.DONumber" />
                </div>
                <div class="col-lg-6">
                    <a href="/SaleOrder" class="btn btn-sm btn-default"><i class="fa fa-list"></i> My SOs List</a>
                    <a href="/SaleOrder/DOList" class="btn btn-sm btn-default"><i class="fa fa-list"></i> My DOs List</a>
                    <a href="/SaleOrder/DCList" class="btn btn-sm btn-default"><i class="fa fa-list"></i> My DCs List</a>
                    <a href="/SaleOrder/DCRList" class="btn btn-sm btn-default"><i class="fa fa-list"></i> My DC Returns</a>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <div class="box box-success box-solid">
            <div class="box-header with-border">

                <h3 class="box-title">Delivery Oder: @ThisDO.DONumber</h3>
                <p class="pull-right">Created: @ThisDO.CreatedBy on @ThisDO.CreatedOn.ToShortDateString()</p>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-1">
                        <label>SO No:</label>
                        <p>@ThisSO.SONumber</p>
                       
                    </div>
                    <div class="col-sm-1">
                        <label>SO Date:</label>
                        <p>@ThisSO.SODate.ToShortDateString()</p>
                    </div>
                    <div class="col-sm-1">
                        <label>SO Expiry:</label>
                        <p>@ThisSO.SOExpiry.ToShortDateString()</p>
                    </div>
                    <div class="col-sm-1">
                        <label>SO Type:</label>
                        <p>@ThisSO.OrderType</p>
                    </div>
                    <div class="col-sm-1">
                        <label>PO Number:</label>
                        <p>@ThisSO.PartyPONumber</p>
                    </div>
                    <div class="col-sm-1">
                        <label>PO Date:</label>
                        <p>@ThisSO.PODate.ToShortDateString()</p>
                    </div>
                    <div class="col-sm-1">
                        <label>PO Expiry:</label>
                        <p>@ThisSO.POExpiry.ToShortDateString()</p>
                    </div>
                    <div class="col-sm-1">
                        <label>Origin:</label>
                        <p>@ThisSO.Origin.Value</p>
                    </div>
                    
                    <div class="col-sm-1">
                        <label>Size:</label>
                        <p>@ThisSO.Size</p>
                    </div>
                    <div class="col-sm-1">
                        <label>Trader:</label>
                        <p>@ThisSO.Trader.Value</p>
                    </div>
                    <div class="col-sm-1 pull-right">
                        <span class="badge bg-blue pull-right">@ThisDO.Status</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <label>Customer:</label>
                        <p>@ThisSO.Customer.Name</p>
                    </div>
                    <div class="col-sm-1">
                        <label>Quantity:</label>
                        <span class="badge bg-green">@ThisSO.Quantity.ToString(Constants.QuantityFormat)</span>
                    </div>
                    <div class="col-sm-1">
                        <label>Agreed Rate:</label>
                        <p>@ThisSO.AgreedRate<p>
                    </div>
                    <div class="col-sm-2">
                        <label>Agreed Tax Rate:</label>
                        <p>@ThisSO.AgreedTaxRate </p>
                    </div>
                    <div class="col-sm-2">
                        <label>Rate inc. Tax:</label>
                        <p>PKR <span class="badge bg-green">@ThisSO.RateIncTax.ToString(Constants.PriceFormat)</span></p>
                    </div>
                    <div class="col-sm-1">
                        <label>Sale Station:</label>
                        <p>@ThisSO.SaleStation.Value</p>
                    </div>
                    <div class="col-sm-2">
                        <label>Trader Commission:</label>
                        <p>@ThisSO.TraderCommission.ToString(Constants.PriceFormat)</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>DO Date:</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right" data-selector="date" name="DODate" value="@ThisDO.DODate.ToShortDateString()">
                            </div>
                            <!-- /.input group -->
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>Location</label>
                            <select class="form-control select2" name="Location">
                                <option value="0">--- Location ---</option>
                                @foreach (Reference saleStation in Common.AllSaleStations)
                                {
                                    <option value="@saleStation.Id" @(saleStation.Id == ThisDO.Location.Id?"selected":"")>@saleStation.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>Lead</label>
                            <label class="required">*</label>
                            <select class="form-control select2" name="Lead">
                                <option value="0">--- Lead ---</option>
                                @foreach (User item in UserManager.Users)
                            {
                            <option value="@item.Id" @(item.Id == ThisDO.Lead.Id ? " selected " : "")>@item.Name</option>
                            }
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>Quantity</label>
                            <input type="text" class="form-control" name="Quantity" value="@ThisDO.Quantity">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>Lifting Start Date:</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right" data-selector="date" name="LiftingStartDate" value="@ThisDO.LiftingStartDate">
                            </div>
                            <!-- /.input group -->
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>Lifting End Date:</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right" data-selector="date" name="LiftingEndDate" value="@ThisDO.LiftingEndDate">
                            </div>
                            <!-- /.input group -->
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>DO Destination: </label>
                            @*<input type="text" class="form-control" name="DeliveryDestination" value="@ThisDO.DeliveryDestination" />*@
                            @{Customer cust = CustomerManager.GetCustomer(ThisSO.Customer.Id);
                            }
                            <select class="form-control select2" name="DeliveryDestination">
                                @foreach (Item item in cust.Destination)
                                {
                                    <option value="@item.Index" @((ThisDO.DeliveryDestination != null && item.Index == ThisDO.DeliveryDestination.Index) ? " selected " : "")>@item.Value</option>
                                }
                            </select>
                            
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>Transporter</label>
                            <select class="form-control select2" name="TransporterId">
                                <option value="0">--- Transporter ---</option>
                                @foreach (Item item in Common.Trader)
                            {
                            <option value="@item.Index" @(item.Index == ThisDO.Transportor.Index ? " selected " : "")>@item.Value</option>
                            }
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>Dumper Rate: </label>
                            <input type="text" class="form-control" name="DumperRate" value="@ThisDO.DumperRate" />
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>Freight Payment Terms: </label>
                            <input type="text" class="form-control" name="FreightPaymentTerms" value="@ThisDO.FreightPaymentTerms" />
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>Freight Per Ton: </label>
                            <input type="text" class="form-control" name="FreightPerTon" value="@ThisDO.FreightPerTon" />
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>Freight Tax Per Ton: </label>
                            <input type="text" class="form-control" name="FreightTaxPerTon" value="@ThisDO.FreightTaxPerTon" />
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>Freight Comission PSL: </label>
                            <input type="text" class="form-control" name="FreightComissionPSL" value="@ThisDO.FreightComissionPSL" />
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>Freight Comission Agent: </label>
                            <input type="text" class="form-control" name="FreightComissionAgent" value="@ThisDO.FreightComissionAgent" />
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Remarks: </label>
                            <input type="text" class="form-control" name="Remarks" value="@ThisDO.Remarks" />
                        </div>
                    </div>
                </div>


            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </section>
    </form>
