@using MZXRM.PSS.Data
@using MZXRM.PSS.Business
@using MZXRM.PSS.Common
@{
    SaleOrder ThisSO = ViewBag.ThisSO;
    Customer ThisCust = ViewBag.ThisCust;
    int Ordertype = ViewBag.OrderType;
}
<section class="content-header">
    <h1>
        Sales
        <small>Edit Sale Order</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/home"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/SaleOrder"><i class="fa fa-dashboard"></i> Sale</a></li>
        <li class="active">Create SO</li>
    </ol>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <form method="post" action="/saleorder/UpdateDO">
        @if (ExceptionHandler.HasException())
        {
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                @ExceptionHandler.GetExceptionMessage()
            </div>
            { ExceptionHandler.CloseException(); }
        }
        <div class="box box-default box-solid">
            <!-- /.box-header -->
            <div class="box-body">
                <div class="col-lg-6">
                    <button type="submit" class="btn btn-sm btn-primary" name="btn" value="Update"><i class="fa fa-floppy-o"></i> Update</button>
                    <button type="reset" class="btn btn-sm btn-default" name="btn" value="Reset"><i class="fa fa-refresh"></i> Reset</button>
                    <a class="btn btn-sm btn-default" href="/SaleOrder/CreateDO"><i class="fa fa-plus"></i> New DO</a>
                    <a class="btn btn-sm btn-default" href="/SaleOrder/CreateDC"><i class="fa fa-plus"></i> New DC</a>
                    <a class="btn btn-sm btn-default" href="/SaleOrder/CreateDCR"><i class="fa fa-plus"></i> New DC Return</a>
                    <input type="hidden" name="SOID" value="@ThisSO.Id" />
                    <input type="hidden" name="SONumber" value="@ThisSO.SONumber" />
                </div>
                <div class="col-lg-6">
                    <a href="/SaleOrder" class="btn btn-sm btn-default"><i class="fa fa-list"></i> My SOs List</a>
                    <a href="/SaleOrder/DOList" class="btn btn-sm btn-default"><i class="fa fa-list"></i> My DOs List</a>
                    <a href="/SaleOrder/DCList" class="btn btn-sm btn-default"><i class="fa fa-list"></i> My DCs List</a>
                    <a href="/SaleOrder/DCRList" class="btn btn-sm btn-default"><i class="fa fa-list"></i> My DC Returns</a>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <div class="box box-warning box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">New Sale Order</h3>
            </div>
            <form method="post" action="/SaleOrder/UpdateOrder">
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label>Customer</label><br />
                                <p>@ThisSO.Customer.Name</p>
                                @*<select class="form-control" name='Customer' id="selectCust">
                                    <option value="0">--- Customer ---</option>
                                    @foreach (Customer item in CustomerManager.AllCustomers)
                                    {
                                        <option value="@item.Id" @((ThisSO != null && ThisSO.Customer.Id == item.Id) ? "selected" : "" )>@item.Name</option>
                                    }
                                </select>*@
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label>Order Type</label><br />
                                <p>@ThisSO.OrderType</p>
                                @*<select class="form-control" name="ordertype" id="selectOrderType">
                                    <option value="1" @( Ordertype == 1 ? "selected" : "" )>Commercial</option>
                                    <option value="2" @( Ordertype == 2 ? "selected" : "" )>LC</option>
                                    <option value="3" @( Ordertype == 3 ? "selected" : "" )>Loan</option>
                                </select>*@
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label>Total Stock </label><br />
                                <p>@ThisCust.TotalStock.ToString(Constants.QuantityFormat)</p>
                            </div>
                        </div>
                      
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label>Origin</label>
                                <select class="form-control" name="Origin">
                                    <option value="0">--- Origin ---</option>
                                    @foreach (Item item in Common.Origin)
                                    {
                                        <option value="@item.Index" @(ThisSO.Origin.Index == item.Index ? "selected" : "")>@item.Value</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label>Size</label>
                                <select class="form-control" name="Size">
                                    <option value="0">--- Size ---</option>
                                   
                                    @foreach (Item item in Common.Size)
                                    {

                                        <option value="@item.Index" @(ThisSO.Size.Index == item.Index ? "selected" : "")>@item.Value</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label>Vessel</label>
                                <select class="form-control" name="Vessel">
                                    <option value="0">--- Vessel ---</option>
                                    @foreach (Item item in Common.Vessel)
                                    {
                                        <option value="@item.Index" @(ThisSO.Vessel.Index==item.Index?"selected":"") >@item.Value</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label>SO Date:</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right" data-selector="date" name="SODate" value="@ThisSO.SODate" />
                                </div>
                                <!-- /.input group -->
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label>SO Expiry:</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right" data-selector="date" name="SOExpiry" value="@ThisSO.SOExpiry.ToShortDateString()">
                                </div>
                                <!-- /.input group -->
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label>Party PO Number</label>
                                <input type="text" class="form-control" name="PONumber" value="@ThisSO.PartyPONumber">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label>Party PO Date:</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right" data-selector="date" name="PODate" value="@ThisSO.PODate.ToShortDateString()">
                                </div>
                                <!-- /.input group -->
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label>Party PO Expiry:</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right" data-selector="date" name="POExpiry" value="@ThisSO.POExpiry.ToShortDateString()">
                                </div>
                                <!-- /.input group -->
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label>Credit Period</label>
                                <input type="text" class="form-control" name="CreditPeriod" value="@ThisSO.CreditPeriod">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label>Quantity</label>
                                <input type="text" class="form-control" name="Quantity" value="@ThisSO.Quantity">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label>Lead</label>
                                <select class="form-control" name="Lead">
                                    <option>--- Lead ---</option>
                                    @foreach (User item in UserManager.Users)
                                    {
                                        <option value="@item.Id" @(item.Id == ThisSO.Lead.Id ? " selected " : "")>@item.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <label>PO Scanned Copy</label>
                            <div class="form-group">
                                <input type="file" name="POScanImage" />
                            </div>
                        </div>
                    </div>
                    @if (Ordertype == 1 || Ordertype == 3)
                    {
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label>Agreed Rate</label>
                                    <input type="text" class="form-control" name="Rate" value="@ThisSO.AgreedRate">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label>Agreed Tax Rate</label>
                                    <select class="form-control" name="TaxRate">
                                        <option>--- No Tax ---</option>
                                        @foreach (Item item in Common.TaxRate)
                                        {
                                            <option value="@item.Index" @(item.Index == ThisSO.AgreedTaxRate.Index ? " selected " : "")>@item.Value</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label>Trader</label>
                                    <select class="form-control" name="Trader">
                                        <option>--- Trader ---</option>
                                        @foreach (Item item in Common.Trader)
                                        {
                                            <option value="@item.Index" @(item.Index == ThisSO.Trader.Index ? " selected " : "")>@item.Value</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label>Trader Commission</label>
                                    <input type="text" class="form-control" name="TraderCommission" value="@ThisSO.TraderCommission">
                                </div>
                            </div>
                        </div>
                    }
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Remarks</label>
                            <div class="form-group">
                                <input type="text" style="width:25%;" name="Remarks" value="@ThisSO.Remarks"/>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </form>
        </div>
    </form>
</section>
@section scripts
{
    <script>

        $('input[data-selector=date]').datepicker({
            autoclose: true
        });
        $('#selectOrderType').change(loadQueryParams);
        $('#selectCust').change(loadQueryParams);
        function loadQueryParams()
        {
            var ordertype = $('#selectOrderType').val();
            var cust = $('#selectCust').val();
            var url = "/saleorder/updateorder/@ThisSO.SONumber"
            //url += "?SONumber="+@ThisSO.SONumber;
            if (ordertype != "0" && ordertype != undefined) {
                url += "?type=" + ordertype;
                if (cust != "0" && cust != undefined) {
                    url += "&cust=" + cust;
                }
            }
            window.location.href = url;
        }
    </script>
}
