@using MZXRM.PSS.Data
@using MZXRM.PSS.Business
@using MZXRM.PSS.Common
@{
    StoreTransfer ThisST = ViewBag.ThisST;
}
<section class="content-header">
    <h1>
        Store In/Out
        <small>Store to Store stock movement</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/home"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/stock"><i class="fa fa-dashboard"></i> Stock</a></li>
        <li class="active">Store In/Out</li>
    </ol>
</section>

<!-- Main content -->
<section class="content container-fluid">
    <form method="post" action="/Store/UpdateStoreTransfer">
        @if (ExceptionHandler.HasException())
        {
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                @ExceptionHandler.GetExceptionMessage()
            </div>
            { ExceptionHandler.CloseException(); }
        }
        <div class="box box-default box-solid">
            <!-- /.box-header -->
            <div class="box-body">
                <div class="col-lg-6">
                    <button type="submit" class="btn btn-sm btn-success" name="btn" value="Complete"><i class="fa fa-floppy-o"></i> Complete</button>
                    <button type="submit" class="btn btn-sm btn-primary" name="btn" value="Update"><i class="fa fa-floppy-o"></i> Update</button>
                    <button type="reset" class="btn btn-sm btn-default" name="btn" value="Reset"><i class="fa fa-refresh"></i> Reset</button>
                    <input type="hidden" name="STID" value="@ThisST.Id" />
                    <input type="hidden" name="STNumber" value="@ThisST.STNumber" />
                </div>
                <div class="col-lg-6">
                    <a href="/Store/StoreInOut" class="btn btn-sm btn-default"><i class="fa fa-list"></i> All Store In/Outs</a>
                    <a href="/Store" class="btn btn-sm btn-default"><i class="fa fa-list"></i> All Store</a>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <div class="box box-warning box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">New Store Transfer</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>From Store</label>
                            <select class="form-control select2" name="FromStore">
                                <option value="0">--- From Store ---</option>
                                @foreach (Store store in StoreManager.AllStore)
                                {
                                    <option value="@store.Id" @((ThisST != null && ThisST.FromStoreId.Id == store.Id) ? "selected" : "")>@store.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>Date:</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right" data-selector="date" name="Date" value="@ThisST.STDate.ToShortDateString()">
                            </div>
                            <!-- /.input group -->
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>Customer</label>
                            <select class="form-control select2" name="Customer">
                                <option value="0">--- Customer ---</option>
                                @foreach (Customer customer in CustomerManager.AllCustomers)
                                {
                                    <option value="@customer.Id"  @((ThisST != null && ThisST.Customer.Id == customer.Id) ? "selected" : "")>@customer.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <div class="form-group">
                            <label>Origin</label>
                            <select class="form-control select2" name="Origin">
                                <option value="0">--- Origin ---</option>
                                @foreach (Item Origin in Common.Origin)
                                {
                                    <option value="@Origin.Index"  @((ThisST != null && ThisST.Origin.Index == Origin.Index) ? "selected" : "")>@Origin.Value</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <div class="form-group">
                            <label>Vessel</label>
                            <select class="form-control select2" name="Vessel">
                                <option value="0">--- Vessel ---</option>
                                @foreach (Item Vessel in Common.Vessel)
                                {
                                    <option value="@Vessel.Index"  @((ThisST != null && ThisST.Vessel.Index == Vessel.Index) ? "selected" : "")>@Vessel.Value</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <div class="form-group">
                            <label>Size</label>
                            <select class="form-control select2" name="Size">
                                <option value="0">--- Size ---</option>
                                @foreach (Item Size in Common.Size)
                                {
                                    <option value="@Size.Index"  @((ThisST != null && ThisST.Size.Index == Size.Index) ? "selected" : "")>@Size.Value</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>Quantity</label>
                            <input type="text" class="form-control" name="Quantity" value="@ThisST.Quantity" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>To Store</label>
                            <select class="form-control select2" name="ToStore">
                                <option value="0">--- To Store ---</option>
                                @foreach (Store store in StoreManager.AllStore)
                                {
                                    <option value="@store.Id"  @((ThisST != null && ThisST.ToStoreId.Id == store.Id) ? "selected" : "")>@store.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>Vehicle No</label>
                            <input type="text" class="form-control" name="VehicleNo" value="@ThisST.VehicleNo" />
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>Bilty No</label>
                            <input type="text" class="form-control" name="BiltyNo" value="@ThisST.BiltyNo" />
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>Bilty Date:</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right" data-selector="date" name="BiltyDate" value="@ThisST.BiltyDate.ToShortDateString()">
                            </div>
                            <!-- /.input group -->
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>Invoice</label>
                            <input type="text" class="form-control" name="Invoice" value="@ThisST.RRInvoice" />
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>Train Number</label>
                            <input type="text" class="form-control" name="CCMNo" value="@ThisST.CCMNumber" />
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>Transporter</label>
                            <select class="form-control" name="Transporter">
                                <option value="0">--- Transporter ---</option>
                                @foreach (Item trader in Common.Trader)
                                {
                                    <option value="@trader.Index" @((ThisST != null && ThisST.Transporter.Index == trader.Index) ? "selected" : "")>@trader.Value</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Remarks</label>
                            <input type="text" class="form-control" name="Remarks" value="@ThisST.Remarks">
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
            </div>
        </div>
    </form>
    <!-- /.box -->

</section>
